/* 
The designs were created to the following widths:
Mobile: 375px
Desktop: 1440px 
*/

:root {
  /* Color Variables */
  --color-primary-orange: hsl(25, 97%, 53%);
  --color-neutral-white:  hsl(0, 0%, 100%);
  --color-neutral-light-grey:  hsl(217, 12%, 63%);
  --color-neutral-medium-grey:  hsl(216, 12%, 54%);
  --color-neutral-dark-blue:  hsl(213, 19%, 18%);
  --color-neutral-very-dark-blue:  hsl(216, 12%, 8%);
  /* Typography Variables */
  --typography-font-size: 15px;
  --typography-font-family: 'Overpass', sans-serif;
  --typography-font-weight-normal-400: 400;
  --typography-font-weight-bold-700: 700;
}