/* 
The designs were created to the following widths:
Mobile: 375px
Desktop: 1440px 
*/

:root {
  /* Color Variables */
  --color-primary-orange: hsl(25, 97%, 53%);
  --color-neutral-white:  hsl(0, 0%, 100%);
  --color-neutral-light-grey:  hsl(217, 12%, 63%);
  --color-neutral-medium-grey:  hsl(216, 12%, 54%);
  --color-neutral-circle: rgba(38,45,55,255);
  --color-neutral-dark-blue:  hsl(213, 19%, 18%);
  --color-neutral-dark-blue-light:  hsl(213, 19%, 23%);
  --color-neutral-very-dark-blue:  hsl(216, 12%, 8%);
  /* Typography Variables */
  --typography-font-size: 15px;
  --typography-font-family: 'Overpass', sans-serif;
  --typography-font-weight-normal-400: 400;
  --typography-font-weight-bold-700: 700;
}

@font-face {
  font-family: "Overpass";
  src: url('./resources/Overpass/Overpass-VariableFont_wght.ttf') format('truetype');
  /* src: url('./resources/Overpass/Overpass-Italic-VariableFont_wght.ttf') format('truetype'); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--typography-font-size);
}

html {


}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-neutral-very-dark-blue);
  font-family: "Overpass";
}

.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.container {
  width: 325px;
  padding: 40px 25px 40px 25px;
  background-color: var(--color-neutral-dark-blue);
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

#thankYouContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.circle-background {
  background-color: var(--color-neutral-medium-grey);
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-neutral-white);
  font-size: .8rem;
}

.selected-display {
  background-color: var(--color-neutral-dark-blue-light);
  border-radius: 30px;
  color: var(--color-primary-orange);
  padding: .5rem .75rem .5rem .75rem;
  font-size: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  font-size: 1.5rem;
  color: var(--color-neutral-white);
}

p {
  color: var(--color-neutral-medium-grey);
}

.rating-buttons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.rating-button {
  appearance: none;
  color: white;
}

button {
  background-color: var(--color-primary-orange);
  color: var(--color-neutral-white);
  border: none;
  border-radius: 25px;
  height: 3rem;
  font-family: "Overpass";
  font-weight: 400;
  letter-spacing: .1rem;
}