/* 
The designs were created to the following widths:
Mobile: 375px
Desktop: 1440px 
*/

:root {
  /* Color Variables */
  --color-primary-orange: hsl(25, 97%, 53%);
  --color-neutral-white:  hsl(0, 0%, 100%);
  --color-neutral-light-grey:  hsl(217, 12%, 63%);
  --color-neutral-medium-grey:  hsl(216, 12%, 54%);
  --color-neutral-dark-blue:  hsl(213, 19%, 18%);
  --color-neutral-very-dark-blue:  hsl(216, 12%, 8%);
  /* Typography Variables */
  --typography-font-size: 15px;
  --typography-font-family: 'Overpass', sans-serif;
  --typography-font-weight-normal-400: 400;
  --typography-font-weight-bold-700: 700;
}

html {
  box-sizing: border-box;
  font-size: var(--typography-font-size);
  margin: 0;
  padding: 0;

  
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-neutral-very-dark-blue);
}

.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.container {
  padding: 20px;
  background-color: var(--color-neutral-dark-blue);
  border-radius: 20px;
  display: flex;
  flex-flow: row wrap;
  
}